<header>
    <div class="container">
        <h1>ChatGPT QUIZ</h1>
        <nav>
            <ul>
                <li><a href="#home">Trang chủ</a></li>
                <li><a href="#features">Tính năng</a></li>
                {{!-- <li><a href="#create-quiz">Tạo bài tập</a></li> --}}
                <li><a href="/test_managements/tests">Quản lý bài tập</a></li>
                <li><a href="#guide">Hướng dẫn</a></li>
                <li><a href="#contact">Liên hệ</a></li>
                <li><a href="/logout" class="btn btn-login"> Đăng xuất</a></li>
                {{!-- <li><a class="btn btn-success" href="/admin" >Admin</a></li> --}}
            </ul>
        </nav>
    </div>
</header>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>
   
</script>